//styles for main questions

form {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 15px auto;
    justify-content: flex-start;
    align-items: center;
    color: white;
      background: linear-gradient(70deg, transparent, lightgray);
      border-radius: 1.25em;

    h3  {
        width: 100%;
        @include remCalc(24);

    }

    div {
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap; 
        margin-bottom: 5px;

        
            .quizANS {
                width: 5%;
            }

            .question {
                width: 95%;
                @include remCalc(20);
                text-align: left;
    } 




}
}


