//styles for header

.quizHeader {
    display: flex;
    justify-content: center;
    
    
    h1 {
        @include remCalc(36);
        width: 100%;
    }

    p {
        width: 100%;
        @include remCalc(26);
    }

}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
    p {
        @include remCalc(22);
    }
}