// styles for result after quiz is completed

.podcastResult {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin: 25px auto;
    background: rgba(211, 197, 197, 0.8);
    border: 2px solid #000;
    border-radius: 1.25em;

    div {
        width: 45%;
    }
        p {
             text-transform: capitalize;
             display: none;
             width: 100%;
             @include remCalc(18);

             a {
                 text-transform: none;
                 color: #000;
                 &:hover {
                    color: #fff;
                }
             }
        }

    div:nth-child(2){
        width: 20%;
    }    
    
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    
    .podcastResult {
        width: 80%;
        padding: 20px;

    div {
        width:100%;
    }

    div:nth-child(2){
        width: 100%;
    }
    
}
}

/* Landscape phones and down */
@media (max-width: 480px) {
    p {
        @include remCalc(16);
    }
}